<?xml version="1.0"?>

<robot name="auv" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="common_properties.xacro" />
    <xacro:include filename="auv_basic2.xacro" />

    <gazebo>
        <plugin
            filename="gz-sim-hydrodynamics-system"
            name="gz::sim::systems::Hydrodynamics">
            <link_name>base_link</link_name>
            <xDotU>-1.0</xDotU>
            <yDotV>-5</yDotV>
            <zDotW>-5</zDotW>
            <kDotP>0</kDotP>
            <mDotQ>0</mDotQ>
            <nDotR>0</nDotR>
            <xU>-5</xU>
            <yV>-30</yV>
            <zW>-30</zW>
            <kP>0</kP>
            <mQ>0</mQ>
            <nR>0</nR>
            <xUabsU>-4.6</xUabsU>
            <yVabsV>-60</yVabsV>
            <zWabsW>-60</zWabsW>
            <kPabsP>-0.5</kPabsP>
            <mQabsQ>-200</mQabsQ>
            <nRabsR>-100</nRabsR>
        </plugin>
    </gazebo>

</robot>