<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="MobileBaseHardwareInterface" type="system">
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
            <param name="calculate_dynamics">true</param>
        </hardware>

        <joint name="propeller_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
        </joint>
    </ros2_control>
</robot>